*{
    margin: 0px;
    padding: 0px;
}

.carousel.carousel-slider .control-arrow{
    z-index: 1;
}
.carousel .control-next.control-arrow:before {
    border-left: 10px solid red;
   
}

.carousel .control-prev.control-arrow:before {
    border-right:10px solid red;
    
}