
ul{
    position: relative;
    
}
.main li  ul li {
 background-color: red;
 display: none;
 position: absolute;
 
}
.subnav{
    display: flex;
    flex-direction: column;
    height: auto;
}
.main li:hover ul li  {
    display: block;
    background-color: black;
}

/* .subnav .next-nav{
    display: none;
    margin-left: 2%;
} */
/* .subnav:hover .next-nav{
    display: block;
} */


/* .next-nav .sub-next{
    display: none;
    margin-left: 2%;
}
.next-nav:hover .sub-next{
    display: block;
} */