
.main{

    position: relative;
}
 .main  .subnav {
    display: none;
  margin-left: 20%;
  position: absolute;
z-index: 999;
}

.main li:hover  .subnav {
    display: block;
}

.subnav .next-nav{
    display: none;
    margin-left: 2%;
}
.subnav:hover .next-nav{
    display: block;
}


.next-nav .sub-next{
    display: none;
    margin-left: 2%;
}
.next-nav:hover .sub-next{
    display: block;
}